src/test/resources/cybersource-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:cybsrc="http://www.mulesoft.org/schema/mule/cybersource"
  xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
  xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
               http://www.mulesoft.org/schema/mule/cybersource http://www.mulesoft.org/schema/mule/cybersource/3.1/mule-cybersource.xsd
               http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd
               ">

    <cybsrc:config name="cyber" keysDirectory="src/test/resources/keys" merchantId="mule" testMode="true"/>


    <flow name="makePaymentFlow">
        <cybsrc:make-payment address="#[map-payload:address]" amount="#[map-payload:amount]"
                          city="#[map-payload:city]" country="#[map-payload:country]"
                          creditCardNumber="#[map-payload:creditCardNumber]" email="#[map-payload:email]"
                          expirationDate="#[map-payload:expDate]" firstName="#[map-payload:firstName]"
                          lastName="#[map-payload:lastName]" postalCode="#[map-payload:postalCode]"
                          state="#[map-payload:state]"/>
    </flow>

</mule>
